@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
        
        :root {
          --purple: #b09bd8;
          --blue: #0d6efd;
          --bs-blue: #0d6efd;
          --bs-indigo: #6610f2;
          --bs-purple: #6f42c1;
        }

        .font-montserrat {
          font-family: 'Montserrat', sans-serif;
        }
        
        .btn-purple {
          background-color: var(--purple);
        }
        
        /* Custom Pagination styles */
        .page-link {
          position: relative;
          display: block;
          color: var(--purple);
          text-decoration: none;
          background-color: #fff;
          border: 1px solid #dee2e6;
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          padding: 0.75rem 1.1rem;
          cursor: pointer;
        }
        
        .page-link:hover {
          z-index: 2;
          color: #fff;
          background-color: var(--purple);
          border-color: var(--purple);
        }
        
        .page-item.active .page-link {
          z-index: 3;
          color: #fff;
          background-color: var(--purple);
          border-color: var(--purple);
        }
        
        .page-item.disabled .page-link {
          color: #6c757d;
          pointer-events: none;
          background-color: #fff;
          border-color: #dee2e6;
        }