@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/*  i want to define the color so that i can use it  */
:root{
    --purple: #b09bd8;
    --blue: #0d6efd;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
}



body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    
    
}