@import "tailwindcss";

/*  i want to define the color so that i can use it  */
:root {
    --purple: #b09bd8;
    --blue: #0d6efd;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}



body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;


}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.btn-purple {
    background-color: var(--purple);
}

/* Custom Pagination styles */
.page-link {
    position: relative;
    display: block;
    color: var(--purple);
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 0.75rem 1.1rem;
    cursor: pointer;
}

.page-link:hover {
    z-index: 2;
    color: #fff;
    background-color: var(--purple);
    border-color: var(--purple);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--purple);
    border-color: var(--purple);
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}